<nav class="navbar navbar-defualt">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul>
        <li>
          <a routerLinkActive="active current" routerLink="/">
           <button (click)="loadMobiles()"> Mobiles </button> 
          </a> 
          <a routerLinkActive="active current" routerLink="/appearals">
            <button (click)="loadShirts()"> Appearals </button>  
          </a> 
          <a routerLinkActive="active current" routerLink="/footwear">
            <button (click)="loadShoes()"> Footware </button>  
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>